li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.momma {
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.burger-wrapper {
  display: flex;
  background-color: aqua;
  justify-content: center;
  text-align: center;
}

.ready {
  border: 2px solid black;
}

.eaten {
  border: 2px solid rgb(132, 0, 0);
}
